<!-- @format -->

<html lang="en" data-lt-installed="true">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="./public/logo.svg" type="image/svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="./public/tailwind.css" rel="stylesheet" />
        <link href="./public/style.css" rel="stylesheet" />
        <title>bot dashboard</title>

        {{! prettier-ignore }}
        <script>
            const userPreference = localStorage.getItem("theme");
            document.documentElement.classList.toggle("dark", userPreference ? userPreference == "dark" : window.matchMedia("(prefers-color-scheme: dark)").matches);

            window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", (e) => {
                document.documentElement.classList.toggle("dark", e.matches);
                localStorage.removeItem("theme");
            });
        </script>
    </head>

    <body data-sveltekit-preload-data="hover" class="bg-background min-h-screen font-sans antialiased overflow-x-hidden">
        <div style="display: contents" class="relative flex min-h-screen flex-col">
            <div class="bg-background relative flex min-h-screen flex-col" id="page">
                <div class="w-full h-full theme-zinc">
                    <div class="grid h-screen w-full pl-[53px]">
                        <aside class="bg-background inset-y fixed left-0 z-20 flex h-full flex-col border-r">
                            <div class="border-b p-2">
                                <button
                                    tabindex="0"
                                    class="ring-offset-background focus-visible:ring-ring inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border-input bg-background hover:bg-accent hover:text-accent-foreground border h-10 w-10"
                                    aria-label="Home"
                                >
                                    <svg viewBox="0 0 500 500" class="fill-foreground size-5">
                                        <path
                                            d="M 25.682 22.117 L 239.993 22.117 L 239.993 59.494 C 233.768 63.064 229.548 69.781 229.548 77.428 C 229.548 85.036 233.756 91.734 239.993 95.243 L 239.993 117.255 C 229.324 117.69 220.615 125.738 219.151 136.115 L 175.102 136.115 C 149.247 136.115 128.18 157.182 128.18 183.037 L 128.18 196.306 C 112.585 197.401 100.41 210.397 100.41 226.265 C 100.41 229.832 101.025 233.255 102.156 236.429 L 25.682 236.429 Z M 239.993 236.429 L 224.054 236.429 C 225.809 233.38 226.812 229.858 226.812 226.129 C 226.812 214.774 217.373 205.335 206.019 205.335 C 194.528 205.335 185.225 214.774 185.225 226.129 C 185.225 229.878 186.229 233.393 187.977 236.429 L 160.789 236.429 C 159.952 233.18 159.507 229.775 159.507 226.265 C 159.507 203.83 177.701 185.636 200.136 185.636 L 239.993 185.636 Z M 134.473 236.429 L 134.473 182.9 C 134.473 160.465 152.667 142.271 175.102 142.271 L 239.993 142.271 L 239.993 179.343 L 200.136 179.343 C 174.281 179.343 153.214 200.41 153.214 226.265 C 153.214 229.753 153.598 233.155 154.325 236.429 Z M 106.84 226.265 C 106.84 213.954 116.279 203.694 128.317 202.599 L 128.317 236.429 L 109.122 236.429 C 107.659 233.34 106.84 229.892 106.84 226.265 Z M 235.841 77.292 C 235.841 73.352 237.426 69.784 239.993 67.189 L 239.993 87.329 C 237.371 84.789 235.841 81.175 235.841 77.292 Z M 225.444 136.115 C 226.889 129.154 232.748 123.958 239.993 123.555 L 239.993 136.115 Z M 191.518 226.265 C 191.518 218.194 198.084 211.765 206.019 211.765 C 214.09 211.765 220.519 218.331 220.519 226.265 C 220.519 230.201 218.903 233.801 216.306 236.429 L 195.731 236.429 C 193.134 233.801 191.518 230.201 191.518 226.265 Z"
                                            style="fill: rgb(243, 83, 37);"
                                        ></path>
                                        <path
                                            d="M 260.575 22.1 L 474.886 22.1 L 474.886 236.412 L 397.849 236.412 C 398.976 233.242 399.589 229.826 399.589 226.265 C 399.726 210.397 387.551 197.401 371.956 196.306 L 371.956 183.037 C 371.956 157.182 350.889 136.115 325.034 136.115 L 280.984 136.115 C 279.541 125.879 271.047 117.909 260.575 117.277 L 260.575 95.073 C 266.649 91.522 270.724 84.916 270.724 77.428 C 270.724 69.86 266.652 63.204 260.575 59.607 Z M 260.575 236.412 L 260.575 185.636 L 300.136 185.636 C 322.571 185.636 340.765 203.83 340.765 226.265 C 340.765 229.763 340.317 233.164 339.475 236.412 L 314.625 236.412 C 316.374 233.367 317.373 229.851 317.373 226.129 C 317.373 214.774 308.071 205.335 296.579 205.335 C 285.088 205.335 275.786 214.774 275.786 226.129 C 275.786 229.871 276.772 233.38 278.499 236.412 Z M 260.575 142.271 L 325.034 142.271 C 347.469 142.271 365.663 160.465 365.663 182.9 L 365.663 236.412 L 345.951 236.412 C 346.676 233.143 347.058 229.747 347.058 226.265 C 347.058 200.41 325.991 179.343 300.136 179.343 L 260.575 179.343 Z M 264.432 77.292 C 264.432 81.032 262.929 84.439 260.575 86.99 L 260.575 67.428 C 262.973 70 264.432 73.472 264.432 77.292 Z M 274.692 136.115 L 260.575 136.115 L 260.575 123.586 C 267.62 124.182 273.276 129.421 274.692 136.115 Z M 371.956 202.599 C 383.994 203.694 393.433 213.954 393.433 226.265 C 393.433 229.885 392.617 233.328 391.159 236.412 L 371.956 236.412 Z M 282.079 226.265 C 282.079 218.194 288.508 211.765 296.579 211.765 C 304.651 211.765 311.08 218.331 311.08 226.265 C 311.08 230.193 309.505 233.785 306.935 236.412 L 286.275 236.412 C 283.688 233.785 282.079 230.193 282.079 226.265 Z"
                                            style="fill: rgb(129, 188, 6);"
                                        ></path>
                                        <path
                                            d="M 25.7 256 L 126.062 256 C 126.76 256.099 127.467 256.174 128.18 256.224 L 128.18 269.494 C 128.18 295.349 149.247 316.416 175.102 316.416 L 212.995 316.416 L 212.995 332.284 L 163.064 332.284 C 143.775 332.284 128.18 347.88 128.18 367.168 L 128.18 408.345 C 128.18 427.496 143.775 443.228 163.064 443.228 L 240.011 443.228 L 240.011 470.312 L 25.7 470.312 Z M 240.011 256 L 240.011 310.123 L 175.102 310.123 C 152.667 310.123 134.473 291.929 134.473 269.494 L 134.473 256 Z M 163.201 436.936 C 147.332 436.936 134.61 424.076 134.61 408.345 L 134.61 367.168 C 134.61 351.436 147.469 338.577 163.201 338.577 L 240.011 338.577 L 240.011 349.795 L 188.098 349.795 C 168.946 349.795 153.214 365.527 153.214 384.678 C 153.214 403.83 168.946 419.562 188.098 419.562 L 240.011 419.562 L 240.011 436.936 Z M 219.425 332.284 L 219.425 316.416 L 240.011 316.416 L 240.011 332.284 Z M 188.098 413.406 C 172.366 413.406 159.507 400.547 159.507 384.815 C 159.507 369.083 172.366 356.224 188.098 356.224 L 240.011 356.224 L 240.011 413.406 Z M 195.075 372.64 C 188.508 372.64 183.036 378.112 183.036 384.678 C 183.036 391.245 188.372 396.717 195.075 396.717 C 201.778 396.717 207.113 391.382 207.113 384.678 C 207.113 378.112 201.641 372.64 195.075 372.64 Z M 195.075 390.424 C 191.928 390.424 189.466 387.962 189.466 384.815 C 189.466 381.669 191.928 379.07 195.075 379.07 C 198.221 379.07 200.82 381.669 200.82 384.815 C 200.82 387.825 198.221 390.424 195.075 390.424 Z"
                                            style="fill: rgb(5, 166, 240);"
                                        ></path>
                                        <path
                                            d="M 260.6 256 L 365.663 256 L 365.663 269.494 C 365.663 291.929 347.469 310.123 325.034 310.123 L 260.6 310.123 Z M 474.911 256 L 474.911 470.312 L 260.6 470.312 L 260.6 443.228 L 336.935 443.228 C 356.087 443.228 371.819 427.496 371.819 408.345 L 371.819 367.168 C 371.819 348.016 356.087 332.284 336.935 332.284 L 287.004 332.284 L 287.004 316.416 L 324.897 316.416 C 350.752 316.416 371.819 295.349 371.819 269.494 L 371.819 256.224 C 372.532 256.174 373.239 256.099 373.937 256 Z M 337.072 338.577 C 352.804 338.577 365.663 351.436 365.663 367.168 L 365.663 408.345 C 365.663 424.076 352.804 436.936 337.072 436.936 L 260.6 436.936 L 260.6 419.562 L 312.175 419.562 C 331.463 419.562 347.058 403.83 347.058 384.678 C 347.058 365.527 331.463 349.795 312.175 349.795 L 260.6 349.795 L 260.6 338.577 Z M 280.984 316.416 L 280.984 332.284 L 260.6 332.284 L 260.6 316.416 Z M 312.175 413.406 L 260.6 413.406 L 260.6 356.224 L 312.175 356.224 C 328.043 356.224 340.765 369.083 340.765 384.815 C 340.765 400.547 327.906 413.406 312.175 413.406 Z M 302.735 372.64 C 296.169 372.64 290.697 378.112 290.697 384.678 C 290.697 391.245 296.032 396.717 302.735 396.717 C 309.439 396.717 314.774 391.382 314.774 384.678 C 314.774 378.112 309.302 372.64 302.735 372.64 Z M 302.735 390.424 C 299.589 390.424 297.127 387.962 297.127 384.815 C 297.127 381.669 299.589 379.07 302.735 379.07 C 305.882 379.07 308.481 381.669 308.481 384.815 C 308.481 387.825 305.882 390.424 302.735 390.424 Z"
                                            style="fill: rgb(255, 186, 8);"
                                        ></path>
                                    </svg>
                                </button>
                            </div>
                            <nav class="grid gap-1 p-2">
                                <button
                                    tabindex="0"
                                    class="ring-offset-background focus-visible:ring-ring inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 w-10 bg-muted rounded-lg"
                                    aria-label="Models"
                                >
                                    <svg viewBox="0 0 24 24" class="size-5">
                                        <path d="M12 8V4H8"></path>
                                        <rect width="16" height="12" x="4" y="8" rx="2"></rect>
                                        <path d="M2 14h2"></path>
                                        <path d="M20 14h2"></path>
                                        <path d="M15 13v2"></path>
                                        <path d="M9 13v2"></path>
                                    </svg>
                                </button>
                            </nav>
                            <nav class="mt-auto grid gap-1 p-2">
                                <button
                                    tabindex="0"
                                    class="ring-offset-background focus-visible:ring-ring inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 w-10 mt-auto rounded-lg"
                                    id="toggleDarkMode"
                                    aria-label="Mode"
                                >
                                    <svg viewBox="0 0 24 24" class="size-5 light-btn">
                                        <circle cx="12" cy="12" r="4" />
                                        <path d="M12 2v2" />
                                        <path d="M12 20v2" />
                                        <path d="m4.93 4.93 1.41 1.41" />
                                        <path d="m17.66 17.66 1.41 1.41" />
                                        <path d="M2 12h2" />
                                        <path d="M20 12h2" />
                                        <path d="m6.34 17.66-1.41 1.41" />
                                        <path d="m19.07 4.93-1.41 1.41" />
                                    </svg>
                                    <svg viewBox="0 0 24 24" class="size-5 dark-btn">
                                        <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z" />
                                    </svg>
                                </button>
                                <button
                                    tabindex="0"
                                    class="ring-offset-background focus-visible:ring-ring inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 w-10 mt-auto rounded-lg"
                                    aria-label="Account"
                                >
                                    <svg viewBox="0 0 24 24" class="size-5">
                                        <rect width="18" height="18" x="3" y="3" rx="2"></rect>
                                        <circle cx="12" cy="10" r="3"></circle>
                                        <path d="M7 21v-2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2"></path>
                                    </svg>
                                </button>
                            </nav>
                        </aside>
                        <div class="flex flex-col h-full">
                            <header class="bg-background sticky top-0 z-10 flex h-[57px] items-center gap-1 border-b px-4">
                                <h1 class="text-xl font-semibold">Bing chilling dashboard</h1>
                                <button
                                    tabindex="0"
                                    id="logout"
                                    class="ring-offset-background focus-visible:ring-ring inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border-input bg-background hover:bg-accent hover:text-accent-foreground border h-9 rounded-md px-3 ml-auto gap-1.5 text-sm"
                                >
                                    <svg viewBox="0 0 24 24" class="size-3.5">
                                        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                                        <polyline points="16 17 21 12 16 7" />
                                        <line x1="21" x2="9" y1="12" y2="12" />
                                    </svg>
                                    <p>Log out</p>
                                </button>
                            </header>
                            <main class="grid flex-1 gap-4 overflow-auto p-4 grid-rows-2 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 pattern">
                                {{#each botAccount}}
                                    <div class="grid w-full h-full items-start gap-6">
                                        <fieldset class="h-full grid gap-6 rounded-lg grid-cols-2 border p-4 bg-background">
                                            <legend class="-ml-1 px-1 text-sm font-medium">Account {{increment @index}}</legend>
                                            <div class="grow grid gap-6 overflow-x-hidden">
                                                <div class="flex flex-col gap-3 min-w-0">
                                                    <label
                                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                                    >Email</label>
                                                    <div
                                                        class="border-input bg-background ring-offset-background focus-visible:ring-ring aria-[invalid]:border-destructive data-[placeholder]:[&amp;>span]:text-muted-foreground flex h-10 w-full items-center justify-between rounded-md border px-3 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;>span]:line-clamp-1 relative"
                                                    >
                                                        <span class="overflow-x-auto whitespace-nowrap no-scrollbar-fade w-full">{{email}}</span>
                                                    </div>

                                                    {{#if password}}
                                                        <label
                                                            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                                        >Password</label>
                                                        <div
                                                            data-pass={{password}}
                                                            class="border-input bg-background ring-offset-background focus-visible:ring-ring aria-[invalid]:border-destructive data-[placeholder]:[&amp;>span]:text-muted-foreground flex h-10 w-full items-center justify-between rounded-md border px-3 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&amp;>span]:line-clamp-1 relative"
                                                        >
                                                            <span class="overflow-x-auto whitespace-nowrap no-scrollbar-fade w-full">****</span>
                                                            <div id="toggle-icon">
                                                                <svg viewBox="0 0 24 24" class="h-4 w-4 opacity-50 cursor-pointer">
                                                                    <path d="m15 18-.722-3.25" />
                                                                    <path d="M2 8a10.645 10.645 0 0 0 20 0" />
                                                                    <path d="m20 15-1.726-2.05" />
                                                                    <path d="m4 15 1.726-2.05" />
                                                                    <path d="m9 18 .722-3.25" />
                                                                </svg>
                                                                <svg viewBox="0 0 24 24" class="h-4 w-4 opacity-50 hidden cursor-pointer">
                                                                    <path
                                                                        d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
                                                                    />
                                                                    <circle cx="12" cy="12" r="3" />
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    {{/if}}

                                                    {{#if last_collected}}
                                                        <label
                                                            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                                        >Last collected</label>
                                                        <div
                                                            class="border-input bg-background ring-offset-background focus-visible:ring-ring aria-[invalid]:border-destructive data-[placeholder]:[&amp;>span]:text-muted-foreground flex h-10 w-full items-center justify-between rounded-md border px-3 py-2 text-sm focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 relative"
                                                        >
                                                            <span
                                                                id="last_collected"
                                                                class="overflow-x-auto whitespace-nowrap no-scrollbar-fade w-full"
                                                            >{{formatDate last_collected}}</span>
                                                        </div>
                                                    {{/if}}

                                                    {{#if points}}
                                                        <div class="grid grid-cols-2 gap-4" style="grid-template-rows: 1fr;">
                                                            <div class="flex flex-col gap-3">
                                                                <label
                                                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                                                    for="top-p"
                                                                >Points</label>
                                                                <div
                                                                    class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-10 w-full rounded-md border px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                                                >
                                                                    <span
                                                                        class="overflow-x-auto whitespace-nowrap no-scrollbar-fade w-full"
                                                                    >{{points}}</span>
                                                                </div>
                                                            </div>

                                                            <div class="flex flex-col gap-3">
                                                                <label
                                                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                                                    for="top-p"
                                                                >Streak</label>
                                                                <div
                                                                    class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-10 w-full rounded-md border px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                                                >
                                                                    <span
                                                                        class="overflow-x-auto whitespace-nowrap no-scrollbar-fade w-full"
                                                                    >{{streak}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {{/if}}
                                                </div>
                                            </div>
                                            <div class="grid gap-3">
                                                <label
                                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                                    for="temperature"
                                                >Screenshot</label>

                                                {{#if imageUrl}}
                                                    <img class="h-full w-full rounded-md border px-3 py-2" src="{{imageUrl}}" />
                                                {{else}}
                                                    <img class="h-full w-full rounded-md border px-3 py-2" src="./public/test.png" />
                                                {{/if}}
                                            </div>
                                        </fieldset>
                                    </div>
                                {{/each}}

                                <fieldset
                                    class="svg-hover h-full w-full flex gap-6 rounded-lg grid-cols-2 border p-4 bg-background items-center justify-center cursor-pointer"
                                >
                                    <legend class="-ml-1 px-1 text-sm font-medium">Add account</legend>
                                    <svg viewBox="0 0 24 24" class="opacity-50">
                                        <circle cx="12" cy="12" r="10" />
                                        <path d="M8 12h8" />
                                        <path d="M12 8v8" />
                                    </svg>
                                </fieldset>
                            </main>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{! prettier-ignore }}
        <script>
            const toggle_icons = document.querySelectorAll("#toggle-icon");
            for (let toggle_icon of toggle_icons) {
                toggle_icon.onclick = () => {
                    [...toggle_icon.children].forEach((element) => {
                        element.classList.toggle("hidden");
                    });

                    toggle_icon.parentElement.querySelector("span").innerHTML = toggle_icon.children[0].classList.contains("hidden") 
                        ? toggle_icon.parentElement.dataset?.pass 
                        : "****";
                };
            }

            document.querySelector("#toggleDarkMode").onclick = () => {
                let isDarkMode = document.documentElement.classList.toggle("dark");
                localStorage.setItem("theme", isDarkMode ? "dark" : "light");
            };

            document.querySelector("#logout").onclick = () => {
                fetch("/logout", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                }).then(async (response) => {
                    if (response.redirected) {
                        window.location.href = response.url;
                        return;
                    }
                });
            };
        </script>
    </body>
</html>